<!DOCTYPE html>
<html>
    <head>
        <title>JeroenED.be :: Backend :: Login</title>
        
        <meta charset="UTF-8">
        
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        {% stylesheets filter="scssphp" output="css/login.css"
            "bundles/jeroenedcmsed/scss/cmsedloginpage.scss"
        %}
		<link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
    </head>
    <body>
        <header>
            <img src="{{ asset('bundles/jeroenedcmsed/images/logo.png')}}" alt="CmsED" class="logo">
        </header>


        <form action="{{ path('login_check') }}" method="post">
            <p>
                <label for="username">Username:</label>
                <input type="text" id="username" name="_username" value="{{ last_username }}" />
            </p>
            <p>
                <label for="password">Password:</label>
                <input type="password" id="password" name="_password" />
            </p>
            
            <p>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <input type="submit" value="Log in">
                {% if error %}
                <span class="error">{{ error.messageKey|trans(error.messageData) }}</span>
                {% endif %}
            </p>
        </form>
    </body>
</html>