{% extends 'JeroenEDCmsEDBundle::base.html.twig' %}
{% block body %}<h1>{{ portfolio.title}}</h1>
<h2>Pages</h2>
{% for page in pages %}
    <h3>{{ page.Slug | default('/') }}</h3>
    <div class="portfolio-item-preview" style="background-image: url('{{ page.Background | default('/bundles/jeroenedportfolio/images/background.png')}}');">
        <div>
            {% if page.ShowTitle %}<h1>{{ portfolio.title}}</h1>{%endif%}
            {{ page.Html | raw }}
        </div>
    </div>
{% endfor %}
{% endblock %}