{% extends 'JeroenEDCmsEDBundle::base.html.twig' %}
{% block body %}
{{ form_start(form) }}
{% if errors is iterable %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p>{{ form_label(form.title) }}{{form_widget(form.title)}}</p>
<p>{{ form_label(form.archived) }}{{form_widget(form.archived)}}</p>
<p>{{ form_widget(form.rank) }}</p>
<p>{{ form_widget(form.register)}}</p>
<p>{{ form_widget(form.pages)}}</p>

{{ form_end(form) }}
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>Slug</th>
            <th></th>
        </tr>
    </thead>
    <tbody class="pages">
        {% for key,page in pages %}
            <tr><td class="col-id">{{ key }}</td><td class="col-label">{{ page.Slug }}</td><td class="col-actions"><a href="javascript:void(0);" data-action="edit">edit</a> | <a href="javascript:void(0);" data-action="remove">remove</a></td></tr>
        {% endfor %}
        <tr class="nopages">
            <td colspan="3" style="display: none;">No pages, yet</td>
        </tr>
    </tbody>
</table>
<p><a href="javascript:void(0);" class="addPage">Add a page</a></p>
{{ form_start(pageform, { 'attr': {'style': 'display: none;'} }) }}

<p>{{ form_label(pageform.slug) }}{{form_widget(pageform.slug)}}</p>
<p>{{ form_label(pageform.showtitle) }}{{form_widget(pageform.showtitle)}}</p>
<p>{{ form_label(pageform.background) }}{{form_widget(pageform.background)}}</p>
<p>{{ form_label(pageform.html) }}{{form_widget(pageform.html)}}</p>
<p>{{ form_widget(pageform.register)}}</p>

{{ form_end(pageform) }}

{% endblock %}

{% block javascript %}
    <script type="text/javascript">
$(document).ready(function() {
    $('body').on('click', '.addPage', function() {
        if($('form[name=portfolio_page]').css('display') == "block") {
            $('#dialog').html('The open page is not saved yet. Are you sure you want to proceed?');
            $("#dialog").dialog({
                buttons: {
                    "Confirm": function() {
                        clearPage();
                        $(this).dialog("close");
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog").dialog("open");
        } else {
            clearPage();
        }
        
    });

    $('body').on('click', '#overlay', function() {
        $('#elfinder').remove();  //remove Elfinder
        $('#overlay').remove();
    });
            
    $('body').on('click', '.openfilebrowser', function() {
        $('body').append('<div id="elfinder"></div>');
        $("#elfinder").css("position", "fixed");
        var height = ($(window).innerHeight() - 520) / 2;
        var width = ($(window).innerWidth() - 1280) / 2;
        $("#elfinder").css("top", height + "px");
        $("#elfinder").css("left", width + "px");
        $("#elfinder").css("z-index", 10);
        $("body").append('<div id="overlay"></div>');

        var f = $('#elfinder').elfinder({
            url : '{{ path('ef_connect') }}',
            height: 520,
            width: 1280,
            closeOnEditorCallback: true,
            getFileCallback: function(url) {
                $('#portfolio_page_background').val('/bundles/' + url.path);
                $('#elfinder').remove();  //remove Elfinder    
                var urlpath = $('#portfolio_page_background').val();
                CKEDITOR.instances.portfolio_page_html.destroy();
                if(!UrlExists(urlpath)) { urlpath = "/bundles/jeroenedportfolio/images/background.png"; }
                CKEDITOR.addCss('.cke_editable{ background-image: url("' + urlpath + '"); background-position: center top; }');
                loadCKeditor('portfolio_page[html]', 'reveal');
                $('#overlay').remove();
            }
        }).elfinder('instance');
    });

    $("body").on("focusout", "#portfolio_page_background", function() {
    	var urlpath = $('#portfolio_page_background').val();
        CKEDITOR.instances.portfolio_page_html.destroy();
        if(!UrlExists(urlpath)) { urlpath = "/bundles/jeroenedportfolio/images/background.png"; }
        CKEDITOR.addCss('.cke_editable{ background-image: url("' + urlpath + '"); background-position: center top; }');
        loadCKeditor('portfolio_page[html]', 'reveal');
    });
    
    $('#portfolio_page_register').click(function() {
        var newObject = {
            Slug: $("#portfolio_page_slug").val(),
            Background: $("#portfolio_page_background").val(),
            Html: CKEDITOR.instances.portfolio_page_html.getData(),
            ShowTitle: $("#portfolio_page_showtitle")[0].checked ? true : false
        };
        var oldObjects = [];
        if ($('#portfolio_pages').val() !== '') oldObjects = $.parseJSON($('#portfolio_pages').val());
        if ($('#portfolio_page_index').val() !== '') {
            var index =$('#portfolio_page_index').val()
            oldObjects[index] = newObject;
            $('.pages tr td.col-id:contains('+ index +')').closest('tr').html('<td class="col-id">' + index + '</td><td class="col-label">' + $("#portfolio_page_slug").val() + '</td><td class="col-actions"><a href="javascript:void(0);" data-action="edit">edit</a> | <a href="javascript:void(0);" data-action="remove">remove</a></td>');
        }else { 
            var index = oldObjects.push(newObject) - 1; 
            $('.pages').append('<tr><td class="col-id">' + index + '</td><td class="col-label">' + $("#portfolio_page_slug").val() + '</td><td class="col-actions"><a href="javascript:void(0);" data-action="edit">edit</a> | <a href="javascript:void(0);" data-action="remove">remove</a></td></tr>');
        }
        $('#portfolio_pages').val(JSON.stringify(oldObjects));
        $('.nopages').css('display', 'none');
        $('form[name=portfolio_page]').css('display', 'none');
        $("#portfolio_page_slug").val('');
        $("#portfolio_page_background").val('');
        $("#portfolio_page_html").val('');
        CKEDITOR.instances.portfolio_page_html.setData('');
        $("#portfolio_page_showtitle")[0].checked = false;
        $("#portfolio_page_index").val('');
    });
    $('table').on('click', 'a[data-action]', function(e) {
        var index = $(this).closest('td').siblings(".col-id").html(); 
        var pages = $.parseJSON($('#portfolio_pages').val());
        switch ($(this).data('action')) {
            case 'edit':
                $("#portfolio_page_slug").val(pages[index].Slug);
                $("#portfolio_page_background").val(pages[index].Background);
                $("#portfolio_page_html").val(pages[index].Html);
                $("#portfolio_page_register").html("Update page");
                CKEDITOR.instances.portfolio_page_html.setData(pages[index].Html);
                $("#portfolio_page_showtitle")[0].checked = pages[index].ShowTitle;
                $("#portfolio_page_index").val(index);
                $('form[name=portfolio_page]').css('display', 'block');
                url = $('#portfolio_page_background').val();
                $('nav').css("height", ($(document).innerHeight() - 150 + "px"));
                CKEDITOR.instances.portfolio_page_html.destroy();
                if(!UrlExists(url)) { url = "/bundles/jeroenedportfolio/images/background.png"; }
		CKEDITOR.addCss('.cke_editable{ background-image: url("' + url + '"); background-position: center top; }');
                loadCKeditor('portfolio_page[html]', 'reveal');
                break;
            case 'remove':
                $('#dialog').html('Are you sure you want to delete this page?');
		e.preventDefault();
		$("#dialog").dialog({
                    buttons: {
                        "Confirm": function() {
                            pages.splice(index, 1);
                            $('#portfolio_pages').val(JSON.stringify(pages));
                            $('.pages tr td.col-id:contains('+ index +')').closest('tr').remove();
                            if (pages.length == 0){
                                $('.nopages').css('display', '');
                            }
                            else { 
                                var i = 0;
                                $('.pages tr td.col-id').each( function () {
                                    $(this).html(i);
                                    i++;
                                });
                            }
                            $(this).dialog("close");
                        },
                        "Cancel": function() {
                            $(this).dialog("close");
                        }
                    }
		});
		$("#dialog").dialog("open");
       }
    });
    
    $("body").on("click", "#portfolio_register", function (e) {
        if ($('form[name=portfolio_page]').css('display') == "block") {
            $('#dialog').html('The open page is not saved. Are you sure you want to submit this item anyway?');
            e.preventDefault();
            $("#dialog").dialog({
                buttons: {
                    "Save anyway": function() {
                        document.forms["portfolio"].submit();
                        $(this).dialog("close");
                    },
                    "Cancel": function() {
                        $(this).dialog("close");
                    }
                }
            });
            $("#dialog").dialog("open");
        }
    });
    var fixHelperModified = function(e, tr) {
        var $originals = tr.children();
        var $helper = tr.clone();
        $helper.children().each(function(index) {
            $(this).width($originals.eq(index).width())
        });
        return $helper;
    },
    updateIndex = function(e, ui) {
        var oldOrder = $.parseJSON($('#portfolio_pages').val());
        var newOrder = [];
        $('td.col-id', ui.item.parent()).each(function (i) {
            newOrder[i] = oldOrder[$(this).html()];
            $(this).html(i);
        });
        $('#portfolio_pages').val(JSON.stringify(newOrder));
    };

    $("table tbody").sortable({
        helper: fixHelperModified,
        stop: updateIndex
    }).disableSelection();

    $("#dialog").dialog({
	autoOpen: false,
	modal: true
    });

    loadCKeditor('portfolio_page[html]', 'reveal');
});

function clearPage() {
    $("#portfolio_page_slug").val('');
    $("#portfolio_page_background").val('');
    $("#portfolio_page_html").val('');
    CKEDITOR.instances.portfolio_page_html.setData('');
    $("#portfolio_page_showtitle")[0].checked = false;
    $("#portfolio_page_index").val('');
    $('form[name=portfolio_page]').css('display', 'block');
    $("#portfolio_page_register").html("Add page");
    $('nav').css("height", ($(document).innerHeight() - 150 + "px"));
    url = "/bundles/jeroenedportfolio/images/background.png";
    CKEDITOR.instances.portfolio_page_html.destroy();
    CKEDITOR.addCss('.cke_editable{ background-image: url("' + url + '"); background-position: center top; }');
    loadCKeditor('portfolio_page[html]',  'reveal');
}
</script>
{% endblock %}

