{% extends 'JeroenEDCmsEDBundle::base.html.twig' %}
{% block body %}
<h1>Portfolio Module</h1>
{% if not message is empty %}
    <div class="message">{{ message }}</div>
{% endif %}
<table>
    <thead>
        <tr>
            <th>id</th>
            <th>title</th>
            <th>action</th>
        </tr>
    </thead>
    <tbody>
        {% for item in portfolio %}
            <tr>
                <td class="col-id">{{ item.id }}</td>
                <td class="col-label">{{ item.title }}</td>
                <td>
                    <a href="{{ path('portfolio_edit', { 'id': item.id }) }}">edit</a> |
                    <a href="{{ path('portfolio_details', { 'id': item.id }) }}">details</a> |
                    <a href="javascript: void(0);" class="confirmLink"  data-text="Are you sure you want to delete {{ item.title }}?" data-link="{{ path('portfolio_delete', { 'id': item.id }) }}">delete</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<form action="{{ path('portfolio_ranks') }}" method="post">
    <input type="hidden" name="ranks" id="ranks">
    <input type="submit" id="ranks_submit" name="submit" value="Update order" style="display: none;">
</form>
{% endblock %}

{% block javascript %}
<script type="text/javascript">
    $(document).ready(function() {
        var fixHelperModified = function(e, tr) {
            var $originals = tr.children();
            var $helper = tr.clone();
            $helper.children().each(function(index) {
                $(this).width($originals.eq(index).width())
            });
            return $helper;
        },
        updateIndex = function(e, ui) {
            var ranks = {};
            $('td.col-id', ui.item.parent()).each(function (i) {
                i++;
                ranks[$(this).html()] = i;
            });
            $('#ranks').val(JSON.stringify(ranks));
            $("#ranks_submit").css('display', 'block');
                };

        $("table tbody").sortable({
            helper: fixHelperModified,
            stop: updateIndex
        }).disableSelection();
    });

</script>
{% endblock %}
