<!DOCTYPE html>
<html>
<head>
        <meta charset="utf-8">
        <meta content="Jeroen De Meerleer" name="author">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

        <title>Jeroen De Meerleer :: Developer-Operator</title>
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,300' rel='stylesheet' type='text/css'>
        <link href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/css/reveal.min.css" rel="stylesheet" type="text/css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.2/jquery.mCustomScrollbar.css" rel='stylesheet' type='text/css'>
        {% stylesheets filter="scssphp" output="css/app.css"
            "bundles/jeroenedportfolio/scss/jeroened.scss"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
        {% stylesheets filter="scssphp" output="css/print.css"
            "bundles/jeroenedportfolio/scss/print.scss"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css" media="print">
        {% endstylesheets %}
        
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/lib/js/head.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/js/reveal.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.3/jquery.mCustomScrollbar.min.js"></script>
        {% javascripts filter="?jsqueeze" output="js/app.js"
            "bundles/jeroenedportfolio/js/reveal.js"
            "bundles/jeroenedportfolio/js/jeroened.js"
            "bundles/jeroenedportfolio/js/analytics.js"
            "bundles/jeroenedportfolio/js/stacktable.js"
        %}
        <script src="{{ asset_url }}"></script>
        {% endjavascripts %}

        <script type="text/javascript">
        ga('create', '{{ ga_tracking }}', 'auto');
        ga('send', 'pageview');
        </script>
        <!--[if lt IE 9]>
            <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.2.0/lib/js/html5shiv.min.js"></script>
        <![endif]-->
    </head>

    <body>
        <div class="reveal">
            <div class="slides">
                {% for item in portfolio %}
                    <section>
                        {% for page in item.pages %}
                            <section{% if 'Slug' in page|keys %} id="{{page.Slug}}"{% endif %}{% if 'Background' in page|keys  %} data-background="{{page.Background}}"{% endif %}>{% if page.ShowTitle == true %}<h1>{{ item.title }}</h1>{% endif %}{{ page.Html | raw }}</section>
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </div>
        <div class="logo">
            JeroenED
        </div>    
        <nav>
        <div class="navholder clearfix">
            <div class="navlabel">
                <p>Menu</p>
            </div>

            <div class="navicon"><img alt="navicon" src="{{ asset('bundles/jeroenedportfolio/images/navicon.png') }}"></div>
        </div>
        <ul>
            {% for item in menu %}
                <li><a href="{{ item.destination }}">{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </nav>
        <div class="copyright">
        <p>&copy; copyright 2015-{{ 'now' | date('Y') }} Jeroen De Meerleer | {{ version }}</p>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>