<!DOCTYPE html>
<!--
The MIT License

Copyright 2015 Jeroen De Meerleer <me@jeroened.be>.

Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:

The above copyright notice and this permission notice shall be included in
all copies or substantial portions of the Software.

THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN
THE SOFTWARE.
-->
<html>
<head>
        <meta charset="utf-8">
        <meta content="Jeroen De Meerleer" name="author">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <meta content="black-translucent" name="apple-mobile-web-app-status-bar-style">
        <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">

        <title>Jeroen De Meerleer :: Developer-Operator</title>
        <link href='//fonts.googleapis.com/css?family=Open+Sans:400,300' rel='stylesheet' type='text/css'>
        <link href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.0.0/css/reveal.min.css" rel="stylesheet">
        <link href="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.0.0/css/print/pdf.min.css" media="print" rel='stylesheet' type='text/css'>
        <link href="//cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.0.8/jquery.mCustomScrollbar.css" rel='stylesheet' type='text/css'>
        <link href="{{ asset('bundles/jeroenedportfolio/css/reveal.css') }}" rel='stylesheet' type='text/css'>
        <link href="{{ asset('bundles/jeroenedportfolio/css/jeroened.css') }}" rel='stylesheet' type='text/css'>

        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.0.0/lib/js/head.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/reveal.js/3.0.0/js/reveal.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.0.8/jquery.mCustomScrollbar.min.js"></script>
        <script src="{{ asset('bundles/jeroenedportfolio/js/reveal.js') }}"></script>
        <script src="{{ asset('bundles/jeroenedportfolio/js/jeroened.js') }}"></script>
	<script src="{{ asset('bundles/jeroenedportfolio/js/analytics.js') }}"></script>
	
        <!--[if lt IE 9]>
            <script src="{{ asset('bundles/jeroenedportfolio/reveal.js/lib/js/html5shiv.js') }}"></script>
        <![endif]-->
    </head>

    <body>
        <div class="reveal">
            <div class="slides">
                {% for item in portfolio %}
                    <section>
                        {% for page in item.pages %}
                            <section{% if 'Slug' in page|keys %} id="{{page.Slug}}"{% endif %}{% if 'Background' in page|keys  %} data-background="{{page.Background}}"{% endif %}>{% if page.ShowTitle == true %}<h1>{{ item.title }}</h1>{% endif %}{{ page.Html | raw }}</section>
                        {% endfor %}
                    </section>
                {% endfor %}
            </div>
        </div>
        <div class="logo">
            JeroenED
        </div>    
        <nav>
        <div class="navholder clearfix">
            <div class="navlabel">
                <p>Menu</p>
            </div>

            <div class="navicon"><img alt="navicon" src="{{ asset('bundles/jeroenedportfolio/images/navicon.png') }}"></div>
        </div>
        <ul>
            {% for item in menu %}
                <li><a {% if item.external == true %}href="{{ item.destination }}" target="_blank"{% else %}href="javascript:void(0)" data-page="{{ item.destination }}"{% endif %}>{{ item.label }}</a></li>
            {% endfor %}
        </ul>
    </nav>
        <div class="copyright">
        <p>&copy; copyright 2015 Jeroen De Meerleer | v0.5</p>
    </div>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
