<!DOCTYPE html>
<html>
    <head>
        <title>JeroenED.be :: Admin panel :: {{ title }}</title>
        
        <meta charset="UTF-8">
        
        <link href="{{ asset('bundles/jeroenedcmsed/css/cmsed.css') }}" rel="stylesheet"  type="text/css">
        <link href="//fonts.googleapis.com/css?family=Roboto" rel="stylesheet" type="text/css">
        <link href="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.css" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/jeroenedcmsed/css/jquery-ui.structure.min.css') }}" rel="stylesheet" type="text/css">
        <link href="{{ asset('bundles/jeroenedcmsed/css/jquery-ui.theme.min.css') }}" rel="stylesheet" type="text/css">
        {% stylesheets filter="scssphp" output="css/cmsed.css"
            "bundles/jeroenedcmsed/scss/cmsed.scss"
        %}
        <link rel="stylesheet" href="{{ asset_url }}" type="text/css">
        {% endstylesheets %}
		
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.2.1/jquery.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
        <script src="//cdn.ckeditor.com/4.5.7/full/ckeditor.js"></script>
		{% javascripts filter="?jsqueeze" output="js/cmsed.js"
            "bundles/jeroenedcmsed/js/cmsed.js"
        %}
        <script src="{{ asset_url }}" type="text/javascript"></script>
        {% endjavascripts %}
        
        {{ block('javascript') }}
    </head>
    <body>
        <div id="container" class="clearfix">
            <header>
                <img src="/bundles/jeroenedcmsed/images/logo.png" alt="CmsED" id="logo">
            </header>
            <div id="meta">
                <p>Hello {{ init.user }}, <a href="/logout">log out</a></p>
            </div>
            <nav>
                <ul>
                    {% for leftnav in init.leftnav %}
                        <li><a href="{{ leftnav.link }}">{{ leftnav.label }}</a></li>
                    {% endfor %}
                </ul>
            </nav>
            <div id="content" class="clearfix">
                <div id="contentnav">
                    <ul>
                        {% for nav in init.uppernav %}
                        <li{% if 'active' in nav|keys %} class="active"{% endif %}><a href="{{ nav.link }}">{{ nav.label }}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div id="contentitems">
                   {{ block('body') }}
                </div>
            </div>
        </div>
        <div id="dialog" title="Confirmation Required">Are you sure about this?</div>
    </body>
</html>
