{% extends 'JeroenEDCmsEDBundle::base.html.twig' %}
{% block body %}
{{ form_start(form) }}
{% if errors is iterable %}
    <ul>
        {% for error in errors %}
            <li>{{ error }}</li>
        {% endfor %}
    </ul>
{% endif %}

<p>{{ form_label(form.userName) }}{{form_widget(form.userName)}}</p>
<p>{{ form_label(form.email) }}{{form_widget(form.email)}}</p>
<p>{{ form_label(form.password.first) }}{{form_widget(form.password.first)}}</p>
<p>{{ form_label(form.password.second) }}{{form_widget(form.password.second)}}</p>
<p>{{ form_widget(form.register)}}</p>

{{ form_end(form) }}
{% endblock %}
