{% extends 'JeroenEDCmsEDBundle::base.html.twig' %}
{% block body %}
    <h1>Users Module</h1>
{% if not message is  empty %}
    <div class="message">{{ message }}</div>
{% endif %}
<table>
    <tbody>
        {% for user in users %}
            <tr>
                <td class="col-label">
                    <p>{{ user.username }} - <span class="col-slug">{{ user.email }}</span></p>
                    <p class="col-actions">
                        <a href="{{ path('users_edit', { 'id': user.id }) }}">edit</a> |
                        <a href="{{ path('users_details', { 'id': user.id }) }}">details</a> |
                        <a href="javascript: void(0);" class="confirmLink act-delete"  data-text="Are you sure you want to delete {{ user.username }}?" data-link="{{ path('users_delete', { 'id': user.id }) }}">delete</a>
                    </p>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
